*  { 
    margin: 0; 
    padding: 0; 
}

body {
    font-family: "montserrat";
    overflow: hidden;
}

.index_container {
    max-width: 480px;
    margin: 0 auto;
}

#index_content {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
}

#index_header {
    margin: 10px 0;
}

#index_title {
    text-align: center;
    font-size: 1.5em;
}

#index_description {
    text-align: center;
    font-size: 0.7em;
}

.index_buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

#join_game_btn {
    margin-right: 5px;
}

.index_buttons > button {
    flex-grow: 1;
}

#game_key {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

#game_key_input {
    flex-grow: 0.8;
}

#copy_key_btn {
    flex-grow: 0.2;
    margin-left: 5px;
}

#name_form {
    display: flex;
    flex-direction: column;
}

#name_field {
    margin-bottom: 5px;
}

#play_btn {
    margin-bottom: 5px;
}

.hide_element {
    opacity: 0;
    transition: 0.5s ease;   
}

#index_message {
    font-size: 1em;
}

/* Lobby */

#lobby_container {
    max-width: 480px;
    margin: 5% auto 0 auto;
}

#lobby_title {
    text-align: center;
}

#joined_users {
    display: flex;
    flex-direction: column;
}

.joined_user {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 10px;
}

.joined_user_name {
    flex-grow: 1;
}

#lobby_countdown {
    text-align: center;
    display:none;
}

#ready_btn {
    background-color: transparent;
    outline: none;
    border: 1px solid lightgray;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

#ready_btn:hover {
    background-color: #00d1b2;
    cursor: pointer;
    color: #FFF;
}