*  { 
    margin: 0; 
    padding: 0; 
}

body {
    /* height: 100%; */
    background-color: #b19cd9;
    padding: 5px;
    font-family: "montserrat";
    font-weight: 400;
    overflow: hidden;
}

/* Header */

.main_header {
    display: flex;
    justify-content: flex-end;
}

/* Index page */
.index_container {
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.index_title {
    font-weight: 100;
    color: #FFFFFF;
    font-size: 1.5em;
}

.index_btn {
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    padding: 5px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    font-size: 1em;
    margin: 10px 0;
}

.index_btn:hover {
    background-color: #FFFFFF;
    color: #b19cd9;
}

#game_key {
    display: flex;
    margin: 5px 0;

}

#game_key_input {
    border: 0;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 1.25em;
    user-select: none;
    /* -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;       */
    /* user-select: none; */
}

#play_game_btn {
    background-color: #b19cd9;
    color: #FFFFFF;
    outline: none;
    height: 100%;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    padding: 5px;
}

#key_description {
    color: #FFFFFF;
    vertical-align: text-top;
    font-size: 0.6em;
    margin-left: 2px;
}