<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
</head>
<body>
    
    <div class="index_container">
        <div id="index_content">

            <header id="index_header">
                <h1 id="index_title">Join or create a brainstorm</h1>
                <p id="index_description">Online brainstorming</p>
            </header>
            <div class="index_buttons">
                <button type="button" id="join_game_btn" class="index_btn button">Join</button>
                <button type="button" id="create_game_btn" class="index_btn button">Create Game</button>        
            </div>
            
            <div class="key_container">
                <div id="game_key">
                    <input type="text" name="game_key" id="game_key_input" class="input" value="">
                    <button type="button" id="copy_key_btn" class="button is-light">Copy</button>
                </div>
            </div>
            
            <div id="index_message" class="hide_element">Message</div>
            
        </div>
    </div>

    <script type="module" src="/JS/enter_game.js"></script>
</body>
</html>