<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
</head>
<body>
    
    <div class="index_container">
        <h1 class="index_title">Join or create a brainstorm</h1>
        <div class="index_buttons">

            <button type="button" id="join_game_btn" class="index_btn">Join</button>
            <button type="button" id="create_game_btn" class="index_btn">Create</button>
        </div>
    </div>

</body>
</html>